<section>
  <div class="page-header">
    <h1>{{vm.inter._id ? 'Chỉnh sửa' : 'Thêm sách'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.inter._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i> Xóa
    </a>
	<a class="btn btn-primary" data-ui-sref="interface.view" >
        <i class="glyphicon glyphicon-arrow-left"></i> Trở về
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.interForm" class="form-horizontal" ng-submit="vm.save(vm.form.interForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Tiêu đề Interface</label>
          <input name="title" type="text" ng-model="vm.inter.title" id="title" class="form-control" placeholder="Tiêu đề" required autofocus>
          <div ng-messages="vm.form.interForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="author">Tác Giả</label>
          <textarea name="author" data-ng-model="vm.inter.author" id="author" class="form-control" cols="30" rows="10" placeholder="Tác giả"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.inter._id ? 'Cập nhật' : 'Thêm'}}</button>
          <!-- interface -->
        </div>
      </fieldset>
    </form>
  </div>
</section>
