<section>
  <div class="page-header">
    <h1>Danh mục Interface</h1>

  </div>

  <h2 ng-bind="vm.quy"></h2>

  <br/>

  <span ng-bind="myData"></span>

  <div class="list-group">
    <a ng-repeat="inter in vm.inter" data-ui-sref="interface.edit({interfaceId: inter._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="inter.author"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="inter.title"></h4>
      <p class="list-group-item-text" ng-bind="inter.author"></p>
    </a>
  </div>

  <a class="btn btn-primary pull-right" data-ui-sref="interface.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>

</section>
